/* 게시글 테이블 제목 */
#article-table > thead a {
  text-decoration: none;
  color: black;
}
#article-form > button {
  float: right;
}

#article-form > button a {
  float: right;
  text-decoration: none;
  color: black;
}