<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>
<body>
    <header id="header" th:replace="header :: header"></header>

    <main>
        <header>
            <h1>첫번째 글1</h1>
        </header>

        <aside>
            <p>Uno</span></p>
            <p><a id="email" href="mailto:djkehh@gmail.com">uno@mail.com</a></p>
            <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p><span id="hashtag" class="badge text-bg-secondary mx-1"><a class="text-reset">#java</a></span></p>
        </aside>

        <section>
            <p>본<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden>댓글</label>
                    <textarea id="articleComment" placeholder="댓글을 입력해주세요." rows="3"></textarea>
                    <button type="submit">쓰기</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-11-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                아주 좋은 작품이네
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-11-01</small></time>
                            <strong>Uno</strong>
                            <p>
                                아주 좋은 작품이네
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">이전글</a>
                <a href="#">다음글</a>
            </nav>
        </section>
    </main>

    <footer id="footer" th:replace="footer :: footer"></footer>

</body>
</html>